$success = red
// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-border = #cbcbcb
$color-lan = #007BFF
$color-cheng = #f46c42

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

//主题颜色规范
$--color-primary:=#1A90FF;
$--color-success = #7ED321;
$--color-warning = #F5A623;
$--color-danger = #F5222D;
$--color-info = #909399;
$--color-primary-hover = #1578D6;

//字体颜色规范
$font-primary = #262626;
$font-secondary = #595959;
$font-icon1 = #8c8c8c;
$font-icon2 = #bfbfbf;
$border-color = #d9d9d9;
$separate-color = #e8e8e8;
$bg-color = #f0f2f5;
